* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to bottom right, #5B4C97, #1C3CA1);
    padding: 0 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}

.navbar-toggler {
    outline: none !important;
}

/*---------banner section---------*/
#banner {
    background-image: linear-gradient(to bottom right, #5B4C97, #1C3CA1);
    color: #fff;
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.bottom-img {
    width: 100%;
}

/*---------TIMELINE section---------*/
#timeline {
    padding-top: 100px;
    padding-bottom: 100px;
}

#timeline .col-md-6 {
    padding: 20px 10px;
}

#timeline h3 {
    margin: 20px auto;
}

#timeline .img-fluid {
    width: 300px;
    margin-top: 20px;
}

/*---------ABOUT US section---------*/
#aboutus {
    padding: 80px 0;
}

/*CHỈNH LẠI KÍCH THƯỚC AVATAR*/
.aboutus-img {
    width: 180px;
    margin-top: 20px;
}

.aboutus {
    padding: 20px;
}

.aboutus h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.aboutus li {
    padding-left: 0;
    /* Căn lề trái về 0 */
    list-style-type: none;
    /* Loại bỏ dấu đầu dòng */
}

.title::before {
    content: '';
    background: #091c9c;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #091c9c;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/*---------CONTACT section---------*/
#contact {
    background-image: linear-gradient(to bottom right, #5B4C97, #1C3CA1);
    color: #fff;
}

.contact-img {
    width: 100%;
}

.contact-box {
    padding: 30px;
    margin: 110px;
}

.contact-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom right, #5B4C97, #1C3CA1);
}

.contact-box {
    padding-left: 60px;
}

hr {
    background-color: #fff;
}

.copyright {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

/*-----------------*/

.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li {
    margin: 10px 0;
}

#about-us ul {
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}